<div id="selectingAccountLoader" class="loader" style="display: none;"></div>
<div id="selectedAccount" style="display: none;">
  <div class="tabs">
    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 1)">Account Info</button>
      <button id="sendTxBtn" class="tablinks" onclick="openTab(event, 2)">Send Transaction</button>
      <button class="tablinks" onclick="openTab(event, 3); ">Edit Account</button>
    </div>

    <div class="tabcontentalways" style="padding: 6px 12px 1px 12px;">
      <div id="accountTitle" class="form-header">
        <!-- ACCOUNT ADDRESS -->
      </div>
    </div>

    <div class="tabcontent" style="display: block; padding: 0px 12px;">
      <div id="accountNetworksInfo">
      </div>
    </div>

    <div id="sendTx" class="tabcontent" style="display: none;">
      <div id="sendTransaction" style="padding: 0px 12px 12px 12px;">
        <span class="item">RPC:</span>
        <select id="txNetwork" onchange="updateTxNetwork()"></select>
        <input id="txNetworkNode" value="" size="50" style="font-size: medium;"/>
        <br />
        <span class="item">Amount:</span>
        <input type='number' id='txAmount' size="50" min="0" value="0" onchange="updateTezLabel('#txAmount')"/>
        <span id="txAmountLabel"class="item"></span>
        <br />
        <span class="item">Fee:</span>
        <input type='number' id='txFee' size="50" onchange="updateTezLabel('#txFee')"/>
        <span id="txFeeLabel"class="item"></span>
        <br />
        <span class="item">Storage Limit:</span>
        <input type='number' id='txStorageLimit' size="50" onchange="updateTezLabel('#txStorageLimit')"/>
        <br />
        <span class="item">Gas Limit:</span>
        <input type='number' id='txGasLimit' size="50" onchange="updateTezLabel('#txGasLimit')"/>
        <br />
        <span class="item">Destination address:</span>
        <input type='text' id='txDest' size="50" />
        <br />
      </div>

      <div id="sendTxActions" class="form-footer">
        <!-- SEND TRANSACTION ACTIONS -->
      </div>
    </div>

    <div class="tabcontent" style="display: none;">
      <div id="accountContent" style="display: block; padding: 0px 12px 12px 12px;">
        <span class="item">Account Name:</span> <input type='text' id='accountName' class="textInput"
          value='' /><br>
        <span class="item">Address:</span> <input type='text' id='accountAddress' class="textInput" value=''
          readonly /><br>
        <span class="item">Public Key:</span> <input type='text' id='publicKey' class="textInput" value=''
          readonly /><br>
        <span class="item">Private Key:</span> <input type='text' id='privateKey' class="textInput" value=''
          readonly /><br>
        <div class="notFaucet">
          <span class="item">Account type:</span> <input type='text' id='accountType' class="textInput"
          readonly /><br>
        </div>
      </div>

      <div id="accountManagementActions" class="form-footer">
        <!-- ACCOUNT MANAGEMENT ACTIONS -->
      </div>

    </div>
  </div>

</div>

<script>
  /**
   *  Remove account.
   */
  const removeAccount = (id, isFaucet) => {
    if (isFaucet) {
      SmartpyWallet.faucet.removeById(id);
    } else {
      SmartpyWallet.account.removeById(id);
    }
  }
  /**
   *  Load Operations.
   */
  const loadOperations = (tableId, operations, network, address, direction) => {
    $(`#${tableId} > tbody > tr`).remove();
    const table = $(`#${tableId} > tbody`);
    operations.forEach(op => {
      if (!op.sender || !op.target) {
        return;
      }
      if ((direction === "sent" && op.sender && op.sender["address"] === address) || (direction === "received" && op.target && op.target["address"] === address)) {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${op.type}</td>
          <td>${(direction === "sent" ? op.target["address"] : op.sender["address"]) || ''}</td>
          <td>${op.level}</td>
          <td>${new Date(op.timestamp).toLocaleString()}</td>
          <td><button class="centertextbutton" onclick="openOperation('${op.hash}', '${network}', ${((op.target && op.target["address"].startsWith("KT1")) || (op.sender && op.sender["address"].startsWith("KT1")))});">Explore</button></td>
        `;
        row.className = `${op.status === "applied" ? "applied-op-bg" : "failed-op-bg"}`

        // Append to table.
        table.append(row);
      }
    });
  }
  const openOperation = (address, network, showSmartPyExplorer) => {
    $(".modal-title").text('Explore Operation');

    $(".modal-body").html(`
      <div class="tab" style="display: flex; justify-content: center;">
        ${showSmartPyExplorer ?
          `<button onclick="exploreOperation('${address}', '${network}', 'smartpy');">SmartPy Explorer</button>` : ''}
        <button onclick="exploreOperation('${address}', '${network}', 'bcd');">Better Call Dev</button>
        <button onclick="exploreOperation('${address}', '${network}', 'tzkt');">TzKT</button>
        <button onclick="exploreOperation('${address}', '${network}', 'tzstats');">TzStats</button>
      </div>
    `);

    $("#modal-cancel-button").unbind('click');
    $("#modal-submit-button").hide();

    $(".modal-dialog").removeClass("modal-lg modal-sm").addClass("modal-lg")

    $("#modal").modal();
  }
  const exploreOperation = (address, network, explorer) => {
    if (explorer == 'smartpy') {
      window.open(`explorer.html?operation=${address}`);
    } else {
      window.open(`${EXPLORER[network][explorer]}/${address}`);
    }
  }
</script>


<!-- Form functions -->
<script>
  /**
   * Hide Account Section
   */
  const hideAccountSection = () => {
    $("#selectedAccount").hide();
  }
  /**
   * Hide Account Section
   */
  const showAccountSection = () => {
    resetSendTransactionInputs();
    $("#selectingAccountLoader").hide();
    $("#selectedAccount").show();
  }
  /**
   * Show Loading
   */
  const showSelectingAccountLoader = () => {
    hideAccountSection();
    $("#selectingAccountLoader").show();
  }
  /**
   * Reset Send Transaction Inputs
   */
  const resetSendTransactionInputs = () => {
    $("#txAmount").val(0);
    $("#txFee").val(5000);
    $("#txStorageLimit").val(1000);
    $("#txGasLimit").val(calculateGasLimit(20000, providerId.value.includes('dalphanet')));

    updateTezLabel("#txAmount");
    updateTezLabel("#txFee");
  }
</script>
