<div id="importOriginatedContract">
  <div class="form-header">
    Import Originated Contract
  </div>
  <form class="form-body">
    <br />
    <div style="width: 400px;">
      <div style="display: flex;">
        <span class="item">Name:</span>
        <input type='text' id='ioc-name' size="42" />
      </div>
      <div style="margin: 5px 0 5px 0; display: flex;">
        <span class="item">Address (KT*):</span>
        <input type='text' id='ioc-address' size="42" />
      </div>
    </div>
    <br />
  </form>
  <div class="form-footer">
    <button class="button" onclick="importOriginatedContract()">Import</button>
  </div>
</div>

<script>
  const clearIocInputs = () => {
    $("#ioc-name").val("");
    $("#ioc-address").val("");
  }
  const importOriginatedContract = async () => {
    const name = $("#ioc-name").val();
    const address = $("#ioc-address").val();

    let network = "UNKNOWN";
    for (const node of Object.keys(smartPyNodes)) {
      try {
        await requestGET(`${node}/chains/main/blocks/head/context/contracts/${address}`);
        network = smartPyNodes[node].toUpperCase();
        break;
      } catch {
        // Ignore, contract not found.
      }
    }

    SmartpyWallet.contract.persist({ name, address, network });
    showModal({
      title: "Contract Imported",
      content: "The contract was successfully added."
    });
  }
</script>