<div>
  <span class="item">Name:</span>
  <input type='text' id='la-name' size="42" style="margin: 5px 0 7px 0;"/>
  <br/>
  <span class="item">Curve:</span>
  <select id="curve" class="select" style="margin: 5px 0 7px 0;">
    <option value="tz1" selected>ed25519 (tz1)</option>
    <option value="tz2">secp256k1 (tz2)</option>
    <option value="tz3">p256 (tz3)</option>
  </select>
  <br />
  <span class="item">Derivation Path:</span>
  <input id="derivationPath" oninput="updateDerivationPath(this.value)" class="regular" />
  <button class="button" onclick="setDefaultDerivationPath();">Default</button>
  <button class="button" onclick="updateDerivationPath('44h/1729h/0h/0h/0h');">Galleon</button>
  <br />
  <br />
  <button class="button" class='centertextbutton' onClick='loadLedger()' style="margin-bottom:20px;">
    Unlock Account
  </button><button class="button" id="saveLedgerAccount" onClick='saveLedgerAccount()' class='centertextbutton'
    style="margin-top:10px; display: none;">
    Save Account
  </button><br />
  <div id="ledgerAppVersion"></div>
  <div id="ledgerPubKey"></div>
  <div id="ledgerPkh"></div>
</div>

<script>
  var ledgerXTZ_ = null;
  var keystore = {
    publicKey: '',
    privateKey: '',
    derivationPath: ''
  };

  const updateDerivationPath = (value) => {
    if (value.startsWith(BaseDerivationPath)) {
      document.getElementById("derivationPath").value = value
    } else {
      document.getElementById("derivationPath").value = BaseDerivationPath;
    }
  }
  const setDefaultDerivationPath = () => {
    document.getElementById("derivationPath").value = KnownDerivationPaths['tezos-client'];
  }
  const saveLedgerAccount = () => {
    const name = $("#la-name").val();
    try {
      SmartpyWallet.account.persist({
        name: name,
        accountType: SmartpyWallet.constants.accountTypes.LEDGER,
        derivationPath: keystore.derivationPath,
        address: keystore.publicKeyHash,
        publicKey: keystore.publicKey
      });
      showModal({
        title: 'Ledger Account',
        content: `Account ${keystore.publicKeyHash} successfully added to the wallet.`,
        cancelAction: false,
        acceptAction: false,
        small: false,
      });
    } catch (e) {
      if (e.message == "implicit_account.already_exists") {
        showModal({
          title: 'Wallet Error',
          content: `Account ${keystore.publicKeyHash} is already in the wallet.`,
          cancelAction: false,
          acceptAction: false,
          small: false,
        });
      } else {
        showModal({
          title: 'Wallet Error',
          content: (e && e.message) || 'Could not save account...',
          cancelAction: false,
          acceptAction: false,
          small: false,
        });
      }
    }
  }
  const ledgerXTZ = () => {
    try {
      if (ledgerXTZ_ == undefined) {
        ledgerXTZ_ = new LedgerXTZ('XTZ');
      }
      return new Promise(resolve => setTimeout(() => resolve(ledgerXTZ_), 500));
    } catch (e) {
      showModal({
        title: 'Error while loading ledger',
        content:
          'Message: ' +
          ((e && e.message) || 'Ledger could not load...') +
          '<br>Please check that your browser is compatible with Ledger (Chrome, Firefox or Opera)',
        cancelAction: false,
        acceptAction: false,
        small: false,
      });
    }
    return undefined;
  }

  const cleanLedgerInfo = () => {
    document.getElementById('ledgerAppVersion').innerHTML = null;
    document.getElementById('ledgerPubKey').innerText = null;
    document.getElementById('ledgerPkh').innerText = null;
    $('#saveLedgerAccount').hide();
  };

  const loadLedger = async () => {
    const ledger = await ledgerXTZ();
    cleanLedgerInfo();
    document.getElementById('ledgerAppVersion').innerHTML =
      'Connecting to Ledger Hardware Wallet, please open the Tezos app...';

    const curve = document.getElementById('curve').value;
    keystore.derivationPath = document.getElementById('derivationPath').value;

    if (!Object.keys(Curves).includes(curve)) {
      return explorerError(`Elliptic curve ${curve} is invalid!`);
    }

    if (ledger.ready()) {
      try {
        await ledger.getAppInformation()
          .then(({ version }) => {
            document.getElementById(
              'ledgerAppVersion'
            ).innerHTML = `<span class="item">App Version:</span> <input value="${version}" readonly class="regular"/>`;
            document.getElementById('ledgerPubKey').innerHTML =
              'Please validate public key hash on Ledger Hardware Wallet';
          });
        await ledger.getAddress(keystore.derivationPath, true, Curves[curve])
          .then(async ({ publicKey, pkh }) => {
            keystore.storeType = conseiljs.KeyStoreType.Hardware;
            keystore.publicKey = publicKey;
            keystore.publicKeyHash = pkh;
            document.getElementById(
              'ledgerPubKey'
            ).innerHTML = `<span class="item">Public Key:</span> <input value="${publicKey}" readonly style="width:300px;"/>`;
            document.getElementById(
              'ledgerPkh'
            ).innerHTML = `<span class="item">Public Key Hash:</span> <input value="${pkh}" readonly style="width:300px;"/>`;
            $('#saveLedgerAccount').show();
          });
      } catch (e) {
        document.getElementById('ledgerPubKey').innerHTML = 'Error while loading public key';
        showModal({
          title: 'Ledger Error',
          content: (e && e.message) || 'Ledger could not load...',
          cancelAction: false,
          acceptAction: false,
          small: false,
        });
      }
    } else {
      document.getElementById('ledgerAppVersion').innerHTML =
        'Error while connecting to Ledger Hardware Wallet';
      showModal({
        title: 'Ledger Info',
        content:
          'Ledger is not ready yet!<br>Please make sure that:<ol><li>You use https://<li>Your Ledger Hardware Wallet is plugged in and the Tezos app is open.</ol>',
        cancelAction: false,
        acceptAction: false,
        small: false,
      });
    }
  };
</script>
